*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: roboto;    
}

.Welcome {
    background-image: linear-gradient(to top, #48c5ef9c 0%, #5370da8e 100%), url(img/port.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.Hello {
    height: 500px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hello h1 {
    font-size: 60px;
    
}

.Hello p {
    font-size: 25px;
    margin-bottom: 20px;
    width: 60%;
}

.Hello a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    padding: 12px 15px;
    background: #f193fba9;
    border-radius: 8px;
}

.wel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.desc {
    display: block;
    width: 50%;
    margin-bottom: 5%;
    padding-left: 5%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.boton1 {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(to top, #48c5ef9c 0%, #5370da8e 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: aliceblue;
    margin-top: 30px;
    width: 50%;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.titulo {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.waves {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;
    padding-top: 7%;
    padding-right: 10%; 
}

.waves img {
    width: 50%;
    height: 70%;
    min-width: 50%;
    padding-left: 7%;
    align-self: center;
    
}

.waves a {
    align-content: center;
}


p {
    text-align: justify;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.boton {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(to top, #48c5ef9c 0%, #5370da8e 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
}

.informacion {
    background: #206ee4cc;
    color: rgb(240, 243, 255);
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.contenedor {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    list-style: none;
}

.servicios img {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;   
}

.C {
    background-image: linear-gradient(to top, #48c5ef9c 0%, #5370da8e 100%);
    text-align: center;
    overflow-x: hidden;
}

.contlast {
    padding-left: 5%;
    margin-top: 20%;
    align-items: center;
    margin-bottom: 20%;
}

.end {
    width: 100%;
}

.final {
    width: 100%;
    height: 50px;
    background-color:  #42A5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;      
}

.final h3 {
    color: aliceblue;
    text-align: center;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .Welcome {
        text-align: center;
        font-size: 20px;
    }

    .titulo {
        font-size: 25px;
    }

    img {
        min-width: auto;
        margin-left: auto;
        margin-right: auto;
        min-height: auto;
    }  
    
}







